<!DOCTYPE html>
<html>
<head>
    <title>page</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>
<style type="text/css">


    p {

        margin: 100px;
        text-align: center;

    }


</style>
<body>


<p>
<h1 style="color: #ff1515" ;><b>
        Note-Page
    </b></h1>
</p>


<div class="container">
    <form action ="/note" method="post">
        <div class="form-group">
            <label for="name"><h1>Title:</h1></label>
            <input type="name" class="form-control" id="email" placeholder="Enter Title" name="title">
        </div>
        <br>

        <div class="form-group">
            <label for="text"><h1>Content:</h1></label>
            <input type="name" class="form-control" id="pwd" placeholder="Enter content" name="content">
        </div>
        <div class="form-group form-check">

        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
</body>
</html>